/*.category-info::before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 20%;*/
/*    left: 12px;*/
/*    width: 25%;*/
/*    height: 1px;*/
/*    background-color: gray;*/
/*    opacity: 0.4;*/
/*}*/

/*.category-info::after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    bottom: 20%;*/
/*    left: 12px;*/
/*    height: 1px;*/
/*    width: 80%;*/
/*    background-color: gray;*/
/*    opacity: 0.4;*/
/*}*/

.box-img {
    position: relative;
    border: 10px solid #fff;
    overflow: hidden;
}

.box-img img {
    transition: all 0.3s;
}

.box-img:hover img {
    transform: scale(1.2) rotate(5deg);
    transform-origin: center;
}

.box-img::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: rgb(255 255 255 / 20%);
    z-index: 100;
}

.item:hover .box-img::after {
    animation: flashing 0.7s;
}

@keyframes flashing {
    0%,
    40% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        width: 200%;
        height: 200%;
    }
}
